{{template "base" .}}

{{define "main"}}
    <main class="form-main">
        <div class="card">
            <div class="card-header">
                Задачи для загрузки
            </div>
            {{template "list-panel"}}
        </div>
        <script>

            function create(){
                document.location='/catalog-create'
            }
            fetch('/api/catalog-list',
                {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },

                })
                .then(response => response.json())
                .then((response) => {
                    if (response.text != 'not-login') {
                        let table = document.getElementById("json_data");
                        let htmlData = '<tr><th>Наименование</th><th>Таблица БД</th></tr>';
                        response.map(function (item) {
                            htmlData += '<tr>' +
                                '<td><a href="/catalog-edit/?id=$id">' + item.name + '</a> </td>' +
                                '<td>' + item.table_name + '</td>' +
                                '<td  width="32px"><i class="bi-trash text-danger" style="cursor: pointer" onclick="deleteTask('+item.id+')"></i></td>' +
                                '</tr> ';

                            htmlData = htmlData.replaceAll("$id", item.id)
                        })
                        table.innerHTML = htmlData;
                    } else {
                        document.location = '/'
                    }
                });

            function deleteTask(id) {
                alert(id)
            }
        </script>
    </main>
{{end}}