{{template "base" .}}

{{define "main"}}
    <main class="form-main-big">
        <div class="card">
            <div class="card-header">
                Задача
            </div>
            <form id='form'
                  encType="multipart/form-data">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <label for="name" class="form-label">Наименование</label>
                                <input class="form-control" id="name" value={{ .Name}}>
                            </div>
                            <div class="col-3">
                                <label for="table_db" class="form-label">Таблица БД</label>
                                <input class="form-control" id="table_name" value={{ .TableName}}>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="col-6">
                        {{template "save"}}
                    </div>
                </li>
                <li class="list-group-item">
                    <table id="json_data"
                           class="table table-striped table-bordered table-sm table-responsive"></table>
                </li>
            </ul>
        </div>
        <style>
            th {
                text-align: center;
                vertical-align: middle;
                background-color: #D3D3D3 !important;
                /*color: white!important;*/
            }
        </style>
        <script>


            const name = document.getElementById('name')
            name.addEventListener('keyup', function () {
                valid()

            });
            const tableDb = document.getElementById('table_name')
            tableDb.addEventListener('keyup', function () {
                valid()

            });
            const table = document.getElementById('json_data')
            let fields = {{ .Fields}}
            if (fields && fields.length > 0) renderTable()


            function valid() {
                if (name.value === '' || tableDb.value === '') {
                    btnSave.disabled = true
                } else {
                    btnSave.disabled = false
                }
            }

            valid()
            // function setFieldsFromTable(){
            //     fields=''
            // }
            function setValuesFields() {
                for (let i = 0; i < fields.length; i++) {
                    let elem = document.getElementById('valName' + i)
                    if (elem) {
                        fields[i].name = elem.value
                    }
                    elem = document.getElementById('notNull' + i)
                    if (elem) {
                        fields[i].is_nullable = !elem.checked
                    }
                    elem = document.getElementById('isList' + i)
                    // if (elem) {
                    if (elem.checked) {
                        fields[i].is_list = true
                    } else {
                        fields[i].is_list = false
                    }
                    elem = document.getElementById('isForm' + i)
                    if (elem.checked) {
                        fields[i].is_form = true
                    } else {
                        fields[i].is_form = false
                    }
                    elem = document.getElementById('linkId' + i)
                    if (elem) {
                        fields[i].link_table_id = Number(elem.value)

                    }

                    elem = document.getElementById('isUserCreate-' + i)

                    if (elem && elem.checked) {
                        fields[i].is_user_create = true
                    } else {
                        fields[i].is_user_create = false
                    }

                    elem = document.getElementById('isUserMod-' + i)
                    if (elem &&  elem.checked) {
                        fields[i].is_user_modify = true
                    } else {
                        fields[i].is_user_modify = false
                    }

                    elem = document.getElementById('isDateCreate-' + i)
                    if (elem && elem.checked) {
                        fields[i].is_date_create = true
                    } else {
                        fields[i].is_date_create = false
                    }

                    elem = document.getElementById('isDateMod-' + i)
                    if (elem && elem.checked) {
                        fields[i].is_date_modify = true
                    } else {
                        fields[i].is_date_modify = false
                    }


                    //fields[i].is_list = !elem.checked

                    // }
                }
            }

            function changeNotNull(id) {
                const fIsNotNull = document.getElementById('notNull' + id)
                const fIsForm = document.getElementById('isForm' + id)
                if (fIsNotNull.checked) {
                    fIsForm.checked = true
                    fIsForm.disabled = true
                } else {
                    fIsForm.disabled = false
                }

            }

            function changeNameField(id) {
                const fName = document.getElementById('valName' + id)
                const fIsList = document.getElementById('isList' + id)
                fIsList.disabled = !fName.value
                fIsList.checked = fName.value
                const fIsForm = document.getElementById('isForm' + id)

                // if (fIsNotNull.checked) {
                //
                // }
                const fIsDateCreate =   document.getElementById('isDateCreate-' + id)
                const fisDateMod =   document.getElementById('isDateMod-' + id)
                const fisUserCreate =   document.getElementById('isUserCreate-' + id)
                const fisUserMod =   document.getElementById('isUserMod-' + id)
                if ((fIsDateCreate && fIsDateCreate.checked)
                    || (fisDateMod && fisDateMod.checked)
                    || (fisUserCreate && fisUserCreate.checked)
                    || (fisUserMod && fisUserMod.checked)) {
                    fIsForm.disabled = true
                    fIsForm.checked = false
                } else {
                    fIsForm.disabled = !fName.value
                    fIsForm.checked = fName.value
                }
            }

            function changeCreateModify(elem) {
                let arr = elem.id.split('-')
                let idDisable = ''
                let idDisableOnlyStr = ''
                switch (arr[0]) {
                    case 'isDateCreate' : {
                        idDisable = 'isDateMod-'

                        break
                    }
                    case 'isDateMod' : {
                        idDisable = 'isDateCreate-'

                        break
                    }
                    case 'isUserCreate' : {
                        idDisable = 'isUserMod-'

                        break
                    }
                    case 'isUserMod' : {
                        idDisable = 'isUserCreate-'

                        break
                    }

                }
                idDisableOnlyStr = idDisable
                idDisable += arr[1]
                let elForm = document.getElementById('isForm'+arr[1])
                let elemDis = document.getElementById(idDisable)
                if (elem.checked) {

                    elemDis.checked = false
                    elemDis.disabled = true
                    for (let i = 0; i < fields.length; i++) {
                        if (i != arr[1]) {
                            let elemIn = document.getElementById(arr[0] + '-' + i)
                            if (elemIn) {
                                elemIn.checked = false
                                let elemDis2 = document.getElementById(idDisableOnlyStr + i)

                                if (elemDis2)
                                    elemDis2.disabled = false
                            }

                        }
                    }
                    elForm.checked=false
                    elForm.disabled=true

                } else {

                    elemDis.disabled = false
                    elForm.disabled=false
                }

            }

            function renderTable() {

                let html = ''
                let counter = 0
                html += '<tr>'

                html += '<th rowspan="2" >Поле</th>'
                html += '<th rowspan="2" >Наименование</th>'
                html += '<th width="60px" rowspan="2" >Обяза-<br/>тельное</th>'
                html += '<th width="60px" colspan="2" >Отображение</th>'
                // html += '<th width="60px" rowspan="2" >В форме</th>'
                html += '<th rowspan="2" >Список</th>'
                html += '<th rowspan="2" >Тип</th>'

                html += '<th colspan="2" >Пользователь</th>'
                html += '<th colspan="2">Дата</th>'
                // html += '<th>Точность</th>'
                // html += '<th>Масштаб</th>'
                html += '<th rowspan="2" >Счетчик</th>'
                html += '</tr>'
//////////////////

                html += '<tr>'
                // html += '<th></th>'
                // html += '<th></th>'
                // html += '<th></th>'
                // html += '<th></th>'
                // html += '<th></th>'
                // html += '<th></th>'
                // html += '<th></th>'
                html += '<th>В списке</th>'
                html += '<th>В форме</th>'
                html += '<th>Создал</th>'
                html += '<th>Изменил</th>'
                html += '<th>Создания</th>'
                html += '<th>Изменения</th>'
                // html += '<th></th>'
                html += '</tr>'
                fields.map(function (item) {


                    html += '<tr>' +
                        '<td>' + item.name_db + '</td>'
                    html += '<td><input onkeyup="changeNameField(' + counter + ')"  class="form-control" id=valName' + counter + ' value="' + item.name + '"'
                    if (item.is_identity) html += ' disabled '
                    html += '></td>'
                    html += '<td style="text-align: center">'

                    if (item.is_nullable_db) {
                        html += '<div class="form-check form-switch">' +
                            '<input onchange="changeNotNull(' + counter + ')"  class="form-check-input mx-auto" style="font-size: 24px" type="checkbox"  id=notNull' + counter

                        if (!item.is_nullable) html += ' checked '
                        html += '></div>'
                    } else {

                        html += '<i class="bi bi-check2" style="font-size: 25px"></i>'
                    }
                    //В списке
                    html += '</td>'
                    html += '<td style="text-align: center">'

                    html += '<div class="form-check form-switch">' +
                        '<input  class="form-check-input mx-auto" style="font-size: 24px" type="checkbox"  id=isList' + counter

                    if (item.is_list && item.name) {
                        html += ' checked '
                    }
                    if (!item.name) {
                        html += ' disabled '
                    }
                    html += '></div>'

                    html += '</td>'
                    ////////
                    //в Форме
                    html += '</td>'
                    html += '<td style="text-align: center">'

                    html += '<div class="form-check form-switch">' +
                        '<input  class="form-check-input mx-auto" style="font-size: 24px" type="checkbox"  id=isForm' + counter

                    if ((item.is_form && item.name) || !item.is_nullable_db) {
                        if (!item.is_identity)
                            html += ' checked '
                    }
                    if (!item.name) {
                        html += ' disabled '
                    }
                    html += '></div>'

                    html += '</td>'
                    //////////////
                    //Выпадающий список
                    html += '<td>'
                    if  (item.name_type == 'int' && !item.is_identity) {
                        html += ' <select id="linkId' + counter + '" name="task" class="form-select"></select> '
                    }

                    html += '</td>'
                    html += '<td>' + item.name_type + '</td>'
                    // +
                    // '<td>' + item.precision + '</td>' +
                    // '<td>' + item.scale + '</td>'
                    /////////Пользователь
                    //Создал
                    html += '<td>'
                    if (item.name_type == 'varchar') {
                        html += '<div class="form-check form-switch">' +
                            '<input onchange="changeCreateModify(this)"  class="form-check-input mx-auto" style="font-size: 24px" type="checkbox"  id=isUserCreate-' + counter
                        if (item.is_user_create) {
                            html += ' checked '
                        }
                    }
                    html += ' </td>'
                    //Изменил
                    html += ' <td>'
                    if (item.name_type == 'varchar') {
                        html += '<div class="form-check form-switch">' +
                            '<input onchange="changeCreateModify(this)"  class="form-check-input mx-auto" style="font-size: 24px" type="checkbox"  id=isUserMod-' + counter
                        if (item.is_user_modify) {
                            html += ' checked '
                        }
                    }
                    html += ' </td>'
                    ///////

                    /////////Дата
                    //Создания
                    html += '<td>'

                    if (item.name_type == 'date') {
                        html += '<div class="form-check form-switch">' +
                            '<input onchange="changeCreateModify(this)" class="form-check-input mx-auto" style="font-size: 24px" type="checkbox"  id=isDateCreate-' + counter
                        if (item.is_date_create) {
                            html += ' checked '
                        }
                    }
                    html += ' </td>'
                    //Изменения
                    html += '<td>'
                    if (item.name_type == 'date') {
                        html += '<div class="form-check form-switch">' +
                            '<input  onchange="changeCreateModify(this)" class="form-check-input mx-auto" style="font-size: 24px" type="checkbox"  id=isDateMod-' + counter
                        if (item.is_date_modify) {
                            html += ' checked '
                        }
                    }
                    html += ' </td>'
                    ///////

                    html += item.is_identity ? '<td  style="text-align: center"><i class="bi bi-check2"></i> </td>' : '<td></td>';


                    html += '</tr>'
                    counter++

                })

                table.innerHTML = html
            }

            getListForDropdown()

            function getListForDropdown() {
                let list = []

                fetch('/api/catalog-list',
                    {
                        method: 'POST',
                        headers: {
                            "Content-Type": "application/json"
                        },

                    })
                    .then(response => response.json())
                    .then((response) => {
                        if (response.text != 'not-login') {
                            response.map(function (item) {
                                list.push(item)
                            })

                            for (let i = 0; i < fields.length; i++) {
                                let htmlD = ''
                                let selectedId = 0
                                let el = document.getElementById('linkId' + i)
                                htmlD += '<option value="0"></option>'

                                for (let j = 0; j < list.length; j++) {
                                    //  console.log(list[j].id, fields[i].link_table_id)
                                    if (list[j].id === fields[i].link_table_id) {
                                        selectedId = j + 1
                                    }
                                    // console.log(list[j])
                                    htmlD += '<option value="' + list[j].id + '">' + list[j].name + '</option>'
                                }
                                if (el) {
                                    el.innerHTML = htmlD
                                    el.selectedIndex = selectedId
                                }

                            }


                        } else {
                            document.location = '/'
                        }
                    });


            }

            function getFields(isNew) {
                fields = []
                fetch('/api/get-db-fields',
                    {
                        method: 'POST',
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            id: id,
                            name: tableDb.value,


                        })
                    })
                    .then(response => response.json())
                    .then((response) => {
                        fields = response
                        fields[0].catalog_id = id
                        renderTable()
                    })
            }

            function save() {

                fetch('/api/catalog-save',
                    {
                        method: 'POST',
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            id: id!==0 ? id : 0,
                            name: name.value,
                            table_name: tableDb.value,
                            type_entity: typeEntity

                        })
                    })
                    .then(response => response.json())
                    .then((response) => {

                        let txtArr = response.text.split("-")

                        if (txtArr[0] === "ok") {
                            if (!id) {
                                id = Number(txtArr[1])
                                getFields(true)
                                for (field of fields) {

                                    if (!field.is_nullable_db && field.name === '' && !field.is_identity) {

                                        alert('Введите наименование для обязательных полей')
                                        return
                                    }
                                }
                            } else {
                                setValuesFields()
                                for (field of fields) {

                                    if (!field.is_nullable_db && field.name === '' && !field.is_identity) {

                                        alert('Введите наименование для обязательных полей')
                                        return
                                    }
                                }
                                console.log(fields)
                                fetch('/api/save-db-fields',
                                    {
                                        method: 'POST',
                                        headers: {
                                            "Content-Type": "application/json"
                                        },
                                        body: JSON.stringify(fields)
                                    })
                                    .then(response => response.json())
                                    .then((response) => {
                                        alert('Данные сохранены')
                                    })
                            }


                        } else {
                            alert("Ошибка: " + response.text)
                        }
                    })

            }

            {{/*console.log({{ .Fields}})*/}}
            let id = {{ .Id}}
            let typeEntity = {{ .TypeEntity}}


        </script>
    </main>
{{end}}