{{template "base" .}}

{{define "main"}}
    <main class="form-main-big">
        <div class="card">
            <div class="card-header">
                Скрипт
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="col-6">
                        <button id="back" style="margin-left: 15px;font-size:14px;"
                                class="btn bi bi-skip-backward  bg-success text-light" onclick="back() ">
                            <span style="margin-left: 3px">Назад</span>
                        </button>
                        <button id="btnSave" style="margin-left: 15px;font-size:14px;"
                                class="btn btn-primary bi bi-save" onclick="save()">
                            <span style="margin-left: 3px">Сохранить</span>
                        </button>
                    </div>
                </li>
            </ul>
            <form id='form'
                  encType="multipart/form-data">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <label for="name" class="form-label">Наименование</label>
                                <input class="form-control" id="name" value={{ .Name}}>
                            </div>
                            {{/*                        <div class="col-3">*/}}
                            {{/*                            <label for="table_name" class="form-label">Таблица БД</label>*/}}
                            {{/*                            <input class="form-control" id="table_name" value={{ .ScriptName}}>*/}}
                            {{/*                        </div>*/}}
                        </div>
                    </li>
                </ul>
            </form>
        </div>
        <script>
            let id = {{ .Id}}
                function back() {
                    location.href = '/catalog/script-list/'
                }

            function save() {
                let name = document.getElementById('name')

                fetch('/api/script-save',
                    {
                        method: 'POST',
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            id: id,
                            name: name.value,

                        })
                    })
                    .then(response => response.json())
                    .then((response) => {

                    })
            }
        </script>
    </main>
{{end}}