{{template "base" .}}

{{define "main"}}
    <main class="form-main">
        <div class="card">
            <div class="card-header">
                Скрипты
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{/*                    {{template "create"}}*/}}
                    <button class="btn btn-success bi bi-arrow-counterclockwise "
                            style="font-size:14px;"
                            onclick="refresh()">
                        <span style="margin-left: 3px">Обновить</span></button>
                </li>
                <li class="list-group-item">
                    <table id="tableScript" class="table table-striped table-bordered table-sm table-responsive"
                           style="width:100%"></table>
                </li>
            </ul>
        </div>
        <div class="modal" id="modalLoad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">Выполнение задачи</div>
                </div>
            </div>
        </div>
        <script>
            function create() {
                document.location = '/catalog-create/?typeId=' + typeEntity
                // document.location='/catalog-create'
            }

            renderData()

            function refresh() {
                renderData()
            }

            function renderData() {

                fetch('/api/catalog/script-list/',
                    {
                        method: 'POST',
                        headers: {
                            "Content-Type": "application/json"
                        },

                    })
                    .then(response => response.json())
                    .then((response) => {
                        if (response.text != 'not-login') {
                            let table = document.getElementById("tableScript");
                            let htmlData = '<thead><tr><th>Наименование</th><th width="100"></th></tr></thead>';
                            htmlData += '<tbody>'
                            response.map(function (item) {
                                htmlData += '<tr>' +
                                    '<td>' + item.name + ' </td>' +
                                    // '<td>' + item.script_name + '</td>' +
                                    //  '<td  width="32px"><button class="button btn-secondary bi-play" style="cursor: pointer" onclick="runScript(' + item.id + ')">Выполнить</button></td>' +
                                    '<td><button id=btnExe' + item.id + ' type="button"  class="btn btn-secondary  bi-play" onclick="runScript(' + item.id + ')">Выполнить</button></td>' +
                                    '</tr> ';

                                htmlData = htmlData.replaceAll("$id", item.id)
                            })
                            htmlData += '</tbody>'

                            table.innerHTML = htmlData;
                            //   $('#qqq').DataTable();
                        } else {
                            document.location = '/'
                        }
                    });
            }

            function runScript(id) {
                // const btn = document.getElementById('btnExe' + id)
                // btn.disabled = true
                //const isDel = confirm('Вы действительно хотите удалить запись? ')
                let myModal = new bootstrap.Modal(document.getElementById('modalLoad'), {
                    keyboard: false
                })
                myModal.show()
                fetch('/api/script-exe/?id=' + id)
                    .then(response => response.json())
                    .then((response) => {
                        myModal.hide()
                        if (response.text !== 'not-login') {
                            if (response.text === 'ok') {

                                showMessage('Скрипт выполнен')


                            } else {
                                alert("Ошибка выполнения скрипта")
                                //myModal.hide()
                            }
                        } else {
                            document.location = '/'
                        }
                    })
                    .catch((e) => {
                        myModal.hide()
                    })

            }

            // $(document).ready(function () {

            //});
        </script>
    </main>
{{end}}