{{define "create"}}

    <button class="btn btn-primary bi bi-plus-circle "
            style="font-size:14px;"
            onclick="create()">
        <span style="margin-left: 3px">Создать</span></button>
    <button class="btn btn-success bi bi-arrow-counterclockwise "
            style="font-size:14px;"
            onclick="refresh()">
        <span style="margin-left: 3px">Обновить</span></button>
        <script>

        </script>
{{end}}