{{define "list-panel"}}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {{template "create"}}
        </li>
        <li class="list-group-item">
            {{template "table"}}
        </li>
    </ul>
{{end}}