{{define "save"}}
    <button id="btnSave" style="margin-left: 15px;font-size:14px;" class="btn btn-primary bi bi-save" onclick="save()">
        <span style="margin-left: 3px">Сохранить</span>
    </button>
    <button id="back" style="margin-left: 15px;font-size:14px;" class="btn bi bi-skip-backward  bg-success text-light" onclick="history.back(); ">
        <span style="margin-left: 3px">Назад</span>
    </button>
{{end}}