{{template "base" .}}

{{define "main"}}
    <main>
        <label>
        </label>
        <table id="test" class="table table-striped table-bordered table-sm table-responsive">
            <thead>
            <tr>
                <td><input id="qqq1" class="form-control" type="number" onkeyup="find(this)"/></td>
                <td><input id="qqq2" type="text" placeholder="поиск" class="form-control" onkeyup="find(this)"/></td>
                <td><input id="qqq3" type="date" class="form-control" onchange="find(this)"/></td>
            </tr>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>F</th>
            </tr>
            </thead>
        </table>
        <script>
            // $.ajax({
            //     'url': "/api/test",
            //     'method': "GET",
            //     'contentType': 'application/json'
            // }).done( function(data) {
            //     console.log(data)
            //     $('#test').dataTable( {
            //         "aaData": data,
            //         "columns": [
            //             // { "data": '"Id"' },
            //             { data: 'name' },
            //
            //         ]
            //     })
            // })
            //паггинация
            // $('#test').DataTable({
            //     ajax: {
            //         url: '/api/test/',
            //         type: 'GET',
            //         "datatype": "json"
            //     },
            //     language: {
            //         url: '/static/ru.json',
            //     },
            //     scrollY: 400,
            //     sPaging: false,
            //  //    pagingType: "full_numbers",
            //     pagingType: "numbers",
            //     "processing": true, // shows loading image while fetching data
            //     "serverSide": true,
            //     lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
            //      "pageLength": 10,
            //     columns: [
            //         {data: 'id', title: 'Id', width: "40px"},
            //         {data: 'name', title: 'Тест'},
            //
            //     ],
            // });
            //скроллер
            let arrFind = []

            function find(el) {
                arrFind = []
                for (let i = 1; i <= 3; i++) {

                    let el = $('#qqq' + i)
                    if (el.val()) {
                        arrFind.push({
                            id: i - 1,
                            type: el.attr('type'),
                            val: el.val(),
                        })
                    }

                }
                //  if (arrFind.length > 0) {
                let table = $('#test').DataTable();
                table.draw();
                //}

            }

            //////////РАБОЧЕЕ////////////////////
            $(document).ready(function (e) {
                $('#test').DataTable({
                    ajax: {
                        url: '/api/test/',
                        type: 'GET',
                        "datatype": "json"
                    },
                    language: {
                        url: '/static/ru.json',
                    },
                    scrollY: 600,
                    sPaging: false,
                    pagingType: "simple",
                    "bLengthChange": false,
                    // searching: false,
                    // "paging": false,
                    "processing": true, // shows loading image while fetching data
                    // "serverSide": true,
                    //не рисовать лишнего. Только таблица
                    'sDom': 't',
                    //перетаскивание столбцов
                    // colReorder: true,
                    scroller: true,
                    columns: [
                        {data: 'id', width: "40px"},
                        {
                            data: 'name',
                            render: function (data, type, row, meta) {
                                if (type === 'display') {
                                    data = '<a href="' + data + '">' + data + '</a>';
                                }

                                return data;
                            }

                        },
                        {
                            data: 'f',
                            width: "140px",
                            render: function (data) {
                                if (data === '') return data
                                let date = new Date(data)

                                // console.log(data)
                                return date.toLocaleDateString()
                            }
                        },

                    ],
                    // 'rowsGroup': [2],
                    // rowGroup: {
                    //     dataSrc: 'f'
                    // }
                });


                $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
                    if (arrFind.length === 0) return true
                    let isOk = false
                    for (const item of arrFind) {

                        switch (item.type) {
                            case 'text': {
                                if (data[item.id].toUpperCase().startsWith(item.val.toUpperCase())) {
                                    isOk = true
                                } else {
                                    return false
                                }
                                break
                            }
                            case 'date': {
                                let val = new Date(item.val).toLocaleDateString();
                                if (val == data[item.id]) {
                                    isOk = true
                                } else {
                                    return false
                                }
                                break
                            }
                            default : {
                                if (item.val == data[item.id]) {
                                    isOk = true
                                } else {
                                    return false
                                }
                            }
                        }

                    }
                    return isOk

                });
            })
            ///////////////////////////////////
            // $(document).ready(function () {
            //     $('#test').DataTable({
            //         ajax: {
            //             url: '/api/test/',
            //             type: 'GET',
            //             "datatype": "json"
            //         },
            //         language: {
            //             url: '/static/ru.json',
            //         },
            //         scrollY: 600,
            //         dom: 'Plfrtip',
            //         columns: [
            //             {data: 'id', width: "40px"},
            //             {
            //                 data: 'name',
            //                 render: function (data, type, row, meta) {
            //                     if (type === 'display') {
            //                         data = '<a href="' + data + '">' + data + '</a>';
            //                     }
            //
            //                     return data;
            //                 }
            //
            //             },
            //             {
            //                 data: 'f',
            //                 width: "140px",
            //                 render: function (data) {
            //                     if (data === '') return data
            //                     let date = new Date(data)
            //
            //                     // console.log(data)
            //                     return date.toLocaleDateString()
            //                 }
            //             },
            //
            //         ],
            //         scroller: true,
            //         searchPanes: {
            //
            //         },
            //         // columnDefs: [
            //         //     {
            //         //         searchPanes: {
            //         //             show: true
            //         //         },
            //         //         targets: [0]
            //         //     },
            //         //     // {
            //         //     //     searchPanes: {
            //         //     //         show: true
            //         //     //     },
            //         //     //     targets: [1]
            //         //     // },
            //         //     // {
            //         //     //     searchPanes: {
            //         //     //         show: true
            //         //     //     },
            //         //     //     targets: [2]
            //         //     // }
            //         // ]
            //     });
            // });
        </script>
    </main>
{{end}}