<!doctype html>
<html lang='en'>
<head>

    <link rel='stylesheet' href='/static/css/main.css'>
    <style>
    </style>
</head>
<body>
{{/*<div class="content">*/}}

<input value="Вошли"/>
<p> </p>
</div>
</body>