{{define "top"}}
<!doctype html>
<html lang='en'>
<head>
    <link rel='stylesheet' href='/static/css/bootstrap.min.css'>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <style>
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
        {{/*        <a class="navbar-brand" href="#">Утилиты SQL Server</a>*/}}
        {{/*        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">*/}}
        {{/*            <span class="navbar-toggler-icon"></span>*/}}
        {{/*        </button>*/}}
        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                       aria-expanded="false">Справочники</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="#">Настройки загрузки</a></li>
                        {{/*                        <li><a class="dropdown-item" href="#">Another action</a></li>*/}}
                        {{/*                        <li><a class="dropdown-item" href="#">Something else here</a></li>*/}}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                       aria-expanded="false">Задачи</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="/task1">Загрузка Excel</a></li>
                        {{/*                        <li><a class="dropdown-item" href="#">Another action</a></li>*/}}
                        {{/*                        <li><a class="dropdown-item" href="#">Something else here</a></li>*/}}
                    </ul>
                </li>
                {{/*                <li class="nav-item">*/}}
                {{/*                    <a class="nav-link active" aria-current="page" href="#"></a>*/}}
                {{/*                </li>*/}}
                {{/*                <li class="nav-item">*/}}
                {{/*                    <a class="nav-link" href="#">Link</a>*/}}
                {{/*                </li>*/}}
                {{/*                <li class="nav-item">*/}}
                {{/*                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>*/}}
                {{/*                </li>*/}}
            </ul>
        </div>
    </div>
</nav>
</body>
{{end}}