{{define "top"}}
    <!doctype html>
    <html lang='en'>
    <head>
        <link rel='stylesheet' href='/static/css/bootstrap.min.css'/>
        <link rel='stylesheet' href='/static/font/bootstrap-icons.css'/>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <style>
        </style>
    </head>
    <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                           aria-expanded="false">Справочники</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item bi-list-task" href="/task-list-catalog"><span
                                            style="margin-left: 10px">Задачи загрузки</span></a></li>
                            <li><a class="dropdown-item bi-journal-text" href="/catalog-list"><span
                                            style="margin-left: 10px">Справочники</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
                           aria-expanded="false">Задачи</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item" href="/task1">Загрузка Excel</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" id="catalogList">
                </ul>
            </div>
            <div class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="location.href='/';">Выход
                </button>
            </div>
        </div>
    </nav>
    </body>
    <script>
        getCatalogList()

        function getCatalogList() {

            let html = '' +
                ' '

            html += ' <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" '
            html += ' aria-expanded="false">Ведение справочников</a> '
            html += ' <ul class="dropdown-menu" aria-labelledby="dropdown03"> '
            fetch('/api/catalog-list',
                {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },

                })
                .then(response => response.json())
                .then((response) => {

                    if (response.text != 'not-login') {
                        response.map(function (item) {
                            html += '<li><a class="dropdown-item" href="/catalog-work-list/?id=$id">' + item.name + '</a></li> '
                            html = html.replaceAll("$id", item.id)
                        })
                    } else {
                        document.location = '/'
                    }
                    html += ' </ul> '

                    let catalogList = document.getElementById('catalogList')
                    catalogList.innerHTML = html

                })
        }
    </script>
{{end}}